html {
    height: 100%;
}

body {
    background-image: url("../images/bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 4px solid #eee;
    box-shadow: 0 0 0 1pt rgb(56, 56, 56, 0.322);
    align-items: center;
}

#rowForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#bouille {
    background-color: #c3f197;
    border-radius: 30px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(56, 56, 56, 0.322);
    box-shadow: 0 0 0 3pt rgb(238, 238, 238);
}

.customForm {
    color: #0A1E00;
    height: 250px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customElement {
    display: flex;
    flex-direction: column;
}

.customElement select {
    margin-top: 5px;
    width: 140px;
    padding: 7px;
}

#container div {
    margin: 10px;
}

@media (max-width: 1065px) {
    body {
        background-image: none !important;
        background-color: #ACE66B;
    }

    #container {
        flex-direction: column;
        margin: 20px;
        background-color: #ACE66B;
        border: none;
        box-shadow: none;
    }

    #bouille {
        border: 4px solid #aada7c;
        box-shadow: none;
    }
}

@media (max-width: 429px) {
    #container {
        position: fixed;
    }
}