@font-face {
    font-family: "Pixeled";
    src: url("./assets/fonts/Pixeled.woff") format("woff");
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: #ACE66B;
}