@font-face {
    font-family: 'Pixeled';
    src: url('./assets/fonts/Pixeled.eot');
    src: url('./assets/fonts/Pixeled.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/Pixeled.woff2') format('woff2'),
         url('./assets/fonts/Pixeled.woff') format('woff'),
         url('./assets/fonts/Pixeled.ttf')  format('truetype'),
         url('./assets/fonts/Pixeled.svg#svgFontName') format('svg');
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: #ACE66B;
}